.menuitem {
  box-sizing: border-box;
  color: #222;
  text-decoration: none;
}

.menuitemTitle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--showcase-ui-menuitem-color, #000);
  background: var(--showcase-ui-menuitem-background, none);
}

.menuitem:not(.active) > .menuitemTitle:hover {
  cursor: pointer;
  color: var(--showcase-ui-menuitem-color, #000);
  background: var(--showcase-ui-menuitem-background, #f2f3f6);
}

.menuitem.active > .menuitemTitle {
  color: var(--showcase-ui-menuitem-color, #000);
  background: var(--showcase-ui-menuitem-background, #eaebf1);
}

.bold {
  font-weight: 600;
}

.icon {
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  margin-right: 0.25rem;
}

.menuitem.open > .menuitemTitle > .icon {
  transform: rotate(90deg);
}
