.root {
  box-sizing: border-box;
  padding: var(--showcase-ui-story-viewer-inner-gutter, 2rem);
  background: var(--showcase-ui-story-viewer-background, #f9fafb);
  min-height: calc(100vh - var(--showcase-ui-header-height, 64px));
  display: flex;
  flex-direction: column;
  gap: var(--showcase-ui-story-viewer-inner-gutter, 2rem);
}

@media (max-width: 960px) {
  .root {
    padding: var(--showcase-ui-story-viewer-inner-gutter, 1rem);
    gap: var(--showcase-ui-story-viewer-inner-gutter, 1rem);
  }
}

.controls {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  overflow-x: auto;
  text-wrap: nowrap;
}

.main {
  overflow: hidden;
  box-sizing: border-box;
  max-height: calc(
    100vh - var(--showcase-ui-header-height, 64px) -
      (var(--showcase-ui-story-viewer-inner-gutter, 2rem) * 2)
  );
  flex-grow: 1;
  --showcase-ui-plate-body-padding: 0px;
}

@media (max-width: 960px) {
  .main {
    max-height: calc(
      100vh - var(--showcase-ui-header-height, 64px) -
        (var(--showcase-ui-story-viewer-inner-gutter, 1rem) * 2)
    );
  }
}

.main.detailed {
  min-height: 360px;
  height: calc(60vh - var(--showcase-ui-header-height, 64px));
  max-height: calc(75vh - var(--showcase-ui-header-height, 64px));
}

.body {
  display: flex;
  flex-direction: column;
}

.iframe {
  box-sizing: border-box;
  border: 0;
  display: block;
  width: 100%;
  margin: 0;
  flex-grow: 1;
}

.codeBlock {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}
