.link {
  box-sizing: border-box;
}

.color-default {
  box-sizing: border-box;
  color: var(--showcase-ui-link-color, #222);
  text-decoration: var(--showcase-ui-link-text-decoration, none);
}

.color-default:hover {
  color: var(--showcase-ui-link-hover-color, var(--showcase-ui-link-color, #555));
}

.color-black {
  color: #222;
  text-decoration: none;
}

.color-black:hover {
  color: #555;
}

.color-white {
  color: #fff;
  text-decoration: none;
}

.color-white:hover {
  color: #ddd;
}
