.root {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.header {
  box-sizing: border-box;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height: var(--showcase-ui-header-height, 64px);
  background: var(--showcase-ui-header-background, #fff);
  color: var(--showcase-ui-header-color, #111);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  z-index: 10;
  box-shadow: var(--showcase-ui-header-box-shadow, 0 1px 0 0 #ddd);
}

@media (max-width: 960px) {
  .header {
    padding: 0 1rem;
  }
}

.aside {
  box-sizing: border-box;
  grid-row: 2 / 3;
  width: var(--showcase-ui-aside-width, 320px);
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: var(--showcase-ui-aside-background, #fff);
  color: var(--showcase-ui-aside-color, #111);
  box-shadow: var(--showcase-ui-aside-box-shadow, 1px 0 0 0 #ddd);
}

@media (max-width: 960px) {
  .aside {
    display: none;
  }
}

.main {
  box-sizing: border-box;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
  background: var(--showcase-ui-main-background, none);
  color: var(--showcase-ui-main-color, inherit);
  box-shadow: var(--showcase-ui-main-box-shadow, none);
}

/* preset: "fixed nav" (fixed header and sidebar) */
.presetFixedNav .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.presetFixedNav .aside {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100vh;
  margin-top: var(--showcase-ui-header-height, 64px);
}

.presetFixedNav .main {
  /* IMPORTANT: padding-top instead margin-top because of height without scroll */
  padding-top: var(--showcase-ui-header-height, 64px);
}

.presetFixedNav .aside + .main {
  margin-left: var(--showcase-ui-aside-width, 320px);
}

@media (max-width: 960px) {
  .presetFixedNav .main {
    margin-left: 0;
  }
}
