input.input {
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 6px;
  color: var(--showcase-ui-input-color, #222);
  box-shadow: inset 0 0 0 1px var(--showcase-ui-input-outline-color, #ddd);
  background: var(--showcase-ui-input-background, #fff);
}

inout.input::placeholder {
  color: var(--showcase-ui-input-placeholder-color, #555);
}

input.input:focus {
  box-shadow: inset 0 0 0 1px var(--showcase-ui-input-focus-outline-color, #323232);
  outline: 1px solid var(--showcase-ui-input-focus-outline-color, #323232);
}

input.input::-webkit-search-decoration,
input.input::-webkit-search-cancel-button,
input.input::-webkit-search-results-button,
input.input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
