.search {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
}

input.searchInput {
  width: 0;
  flex-grow: 1;
}

.menu {
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.menu:first-child {
  padding-top: 1rem;
}
